---
import Layout from '../layouts/Layout.astro';

const title = "Ground Screw Applications - BDI Ground Screw";
const description = "";
const customCss = `<style>.vc_custom_1578075332829{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578326411677{background: #f7f9fa url(https://ags.petsupplymfg.com/wp-content/uploads/2020/01/about-header.fw_.png?id=9555) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578262566673{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578326276984{background: #f7f9fa url(https://ags.petsupplymfg.com/wp-content/uploads/2020/01/applications-construction-bg.jpg?id=9926);background-position: center;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578262566673{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578260887262{margin-right: 140px !important;margin-left: 140px !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1578075332829 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style="margin-bottom:5px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		SOLAR
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:20px;margin-bottom:32px;"><h2>Ground screw solutions for solar</h2>
</div><div class="bauer-text clearfix " style=""><p>A stable foundation for power generation projects around the world, BDI Ground Screw solutions effectively anchor solar arrays without concrete footings. Our system of screws, connectors and hardware is adaptable to any terrain and compatible with all static and tracking photovoltaic systems. Install secure footings in minutes instead of days while minimizing the environmental footprint of your project.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="button-wrap icon-right" style="" ><a href="http://ags.petsupplymfg.com/contact-us/" target="_self" class="bauer-button btn-946875549 medium no_icon custom outline solid outline-accent" style="border-radius:30px;border-width:2px;"  data-background="" data-text="#12294a" data-text-hover="#ffffff" data-background-hover="#cd3539">
		<span style="">Learn More </span>
	</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="false" data-loop="false" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/App-Solar.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/App-Solar-3.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/App-Solar-2.jpg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578326411677 vc_row-has-fill no-padding"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid vc_custom_1578260887262"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:rgba(3,15,39,0.6);padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1307403248 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:rgba(3,15,39,0.6);padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-2061501409 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578262566673 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="false" data-loop="false" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/App-Construction.jpg" /> 
		</div></div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style=""><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		CONSTRUCTION
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:18px;margin-bottom:32px;"><h2>Ground screw solutions for construction</h2>
</div><div class="bauer-text clearfix " style=""><p><span>Our professional-grade ground screw systems create reliable foundations for a wide variety of light industrial projects, from anchoring wooden structures to fencing, footbridges and storage containers. Quick to assemble without the need for concrete footings or excavation, our solution dramatically reduces your labor and materials costs while minimizing environmental impact.</span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="bauer-single-heading clearfix " style="margin-bottom:24px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#000000;font-size:20px;">
		APPLICATIONS
	</span></span></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-15 no-borders" data-grid="2" >
		<div class="bauer-text clearfix " style="font-size:16px;"><p>Temporary Structures</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Pavilions</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Bridges &amp; Footbridges</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Fencing</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Advertising Spaces</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Office Containers</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Carports</p>
</div>

	</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div><div class="button-wrap icon-right" style="" ><a href="http://ags.petsupplymfg.com/contact-us/" target="_self" class="bauer-button btn-101066484 medium no_icon custom outline solid outline-accent" style="border-radius:30px;border-width:2px;"  data-background="" data-text="#12294a" data-text-hover="#ffffff" data-background-hover="#cd3539">
		<span style="">Learn More </span>
	</a></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section data-vc-parallax="1.5" class="wpb_row vc_row-fluid vc_custom_1578326276984 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving no-padding"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid vc_custom_1578260887262"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:rgba(3,15,39,0.6);padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-486489891 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:rgba(3,15,39,0.6);padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1054374959 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578262566673 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style=""><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		HOUSEHOLD
	</span></span></div><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><h2 data-w-id="1b0cc208-babb-3cf7-58da-baac075f382e">Ground screw systems for the consumer market.</h2>
</h2><div class="bauer-text clearfix " style=""><p><span>Our easy-to-use and affordable ground screw systems are ideal for  do-it-yourself home improvement, including light construction and recreational projects like umbrellas and sports netting. There are no concrete footings needed, so it’s easy to remove or relocate foundations later with minimal effort or wear and tear.</span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div><div class="button-wrap icon-right" style="" ><a href="http://ags.petsupplymfg.com/contact-us/" target="_self" class="bauer-button btn-81806958 medium no_icon custom outline solid outline-accent" style="border-radius:30px;border-width:2px;"  data-background="" data-text="#12294a" data-text-hover="#ffffff" data-background-hover="#cd3539">
		<span style="">Learn More </span>
	</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="false" data-loop="false" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/Household.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/Wood-Deck.jpeg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div></section></div>
</div>				
</Layout>
