---
import Layout from '../layouts/Layout.astro';

const title = "Code Compliance and Additional Resources - BDI Ground Screw";
const description = "";
const customCss = `<style>.vc_custom_1578075332829{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1585101212684{margin-right: 40px !important;margin-left: 40px !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1578075332829 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><p>Code Compliance</p>
</h2><div class="bauer-text clearfix " style=""><p>An ICC-ES Evaluation Report is a document that presents the findings, conclusions, and recommendations from a particular evaluation. ICC-ES Reports verify that new and innovative building products comply with code requirements. ICC-ES Reports provide information about what code requirements or acceptance criteria were used to evaluate a product, and how the product should be identified, installed and much more.</p>
<p>Review the BDI Ground Screw evaluation <a href="https://icc-es.org/report-listing/esr-4226/" target="_blank" rel="noopener noreferrer">report (ESR-4226)</a>.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="55" data-mobi="40" data-smobi="40"></div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/04/code-compliance.jpg" /> 
		</div></div></div></div></div></div></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><p>Additional Resources for Engineers and Code Officials</p>
</h2><div class="bauer-text clearfix " style=""><p>AGS <a href="https://www.arcat.com/arcatcos/cos52/arc52607.html" target="_blank" rel="noopener">ARCAT Profile</a> (includes drawings, specifications, and certifications)</p>
<p>AGS ICC Testing Results <a href="https://groundscrewmfg.sharepoint.com/:b:/s/HKData/EaVKcK5O5fdMgO4_7nQ7YRoB61zLa_wU-bDT4mI4cbmf2w?e=1Oos0u" target="_blank" rel="noopener">76mm OD Results</a> and <a href="https://groundscrewmfg.sharepoint.com/:b:/s/HKData/Ed4lOTXQ5ldFulYLzS49zlUBqC2_9TQlDafVFnreL8PdUQ?e=QMYnY1" target="_blank" rel="noopener">114mm OD Results</a></p>
<p><a href="https://groundscrewmfg.sharepoint.com/sites/HKData/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FHKData%2FShared%20Documents%2FAGS%2FTom%20AGS%2FTechnical%20Data%2FCTL%20Thompson%2FFC08747%20AGS%20Large%20Screw%20R%26D%20Test%20Report%20%2D%202019%2E05%2E10%2Epdf&amp;parent=%2Fsites%2FHKData%2FShared%20Documents%2FAGS%2FTom%20AGS%2FTechnical%20Data%2FCTL%20Thompson&amp;p=true&amp;ga=1" rel="noopener" target="_blank">AGS Non-ICC Screw Test Results</a></p>
<h3>Published Papers Regarding Ground Screw Behavior and Performance:</h3>
<p><a href="https://cdnsciencepub.com/doi/full/10.1139/cgj-2022-0094" target="_blank" rel="noopener">Short-term axial loading of continuous-flight pile segment in frozen soil (cdnsciencepub.com)</a></p>
<p><a href="https://cdnsciencepub.com/doi/full/10.1139/cgj-2022-0461" target="_blank" rel="noopener">Long-term axial performance of continuous-flight pile in frozen soil (cdnsciencepub.com)</a></p>
<p><a href="https://www.sciencedirect.com/science/article/pii/S1359431123002922" target="_blank" rel="noopener">Use of screw pile foundations to reduce temperature of warming permafrost: Lab tests and numerical modeling &#8211; ScienceDirect</a></p>
<p><a href="https://cdnsciencepub.com/doi/full/10.1139/cgj-2020-0078" target="_blank" rel="noopener">Field axial loading tests of screw micropiles in sand (cdnsciencepub.com)</a></p>
<p><a href="https://cdnsciencepub.com/doi/full/10.1139/cgj-2017-0109%40cgj-ec.2018.01.issue-7" target="_blank" rel="noopener">Field behaviour of screw micropiles subjected to axial loading in cohesive soils (cdnsciencepub.com)</a></p>
<p><a href="https://www.sciencedirect.com/science/article/pii/S0267726121000233" target="_blank" rel="noopener">Field axial cyclic loading tests of screw micropiles in cohesionless soil &#8211; ScienceDirect</a></p>
<p><a href="https://www.tandfonline.com/doi/full/10.1080/19386362.2019.1673952" target="_blank" rel="noopener">Full article: Behaviour of screw micropiles subjected to axial tensile and compressive loading (tandfonline.com)</a></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1585101212684 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
