---
import Layout from '../layouts/Layout.astro';

const title = "FAQ&#039;s and Return Policy - BDI Ground Screw";
const description = "";
const customCss = `<style>.vc_custom_1583185823450{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1583185823450 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>1. For what types of applications do you use ground screws?</p>
</h4><div class="bauer-text clearfix " style=""><p>Ground screws can be used for virtually every application using columns, posts and beams. Some examples include decks, fencing, solar arrays, light standards, bollards, gazebos, garden sheds, houses, and many more.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>2. How do I determine what size and type of ground screw I need?</p>
</h4><div class="bauer-text clearfix " style=""><p>The size of ground screw is determined by the load requirements of your project. See the AGS Load Chart <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:a808fbd2-964c-44de-b957-7939ac1633fc" target="_blank" rel="noopener noreferrer">here</a>.</p>
<p>The type of ground screw is determined by the connection to your structure. A Model 3, open top screw, is used when a pipe is inserted into the ground screw and the structure is built off the pipe. A solar ground mount system is one example. A flange design is used to when you are connecting to columns, posts, beams, etc. We have several flat and U-flange models available as well as custom manufacturing capabilities.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>3. Are BDI Ground Screws approved in my area?</p>
</h4><div class="bauer-text clearfix " style=""><p>The BDI Ground Screw is nationally code compliant for uses listed in section 2.0 of our ICC-ES Evaluation Report <a href="/wp-content/uploads/2020/03/ESR-4226.pdf" target="_blank" rel="noopener noreferrer">(ESR-4226)</a>. They are used to transfer axial compression, axial tension and lateral loads from the supported structures to the surrounding soil. When BDI Ground Screws are installed under the IRC, an engineered design is required in accordance with IRC R301.1.3. Like any building products, your local code official will determine if BDI Ground Screws are an acceptable foundation system for your specific project when you submit your permit application.</p>
<p>Our ground screws are accepted in any County or Municipality that recognizes the 2018 International Building Code.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>4. How does frost affect the use of ground screws?</p>
</h4><div class="bauer-text clearfix " style=""><p>It is recommended that at least two thirds (2/3) of the ground screw threads are below the code recognized frost level in your area.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>5. Do I need to have utilities marked?</p>
</h4><div class="bauer-text clearfix " style=""><p>Yes. Call 811 from anywhere in the country a few days prior to installing your ground screws and your call will automatically be routed to your local one call center. Utility companies that have potential facilities in the area of your installation site will be notified of your intent to dig. Each affected utility company will send a locator to mark the approximate location of your underground utility lines. This typically occurs within 2-3 working days. It is recommended you install ground screws at least 18 inches from either side of marked lines.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>6. What installation equipment is required?</p>
</h4><div class="bauer-text clearfix " style=""><p>Smaller screws, roughly 2-2 ½” diameters and lengths less than approximately 3’ can be installed manually (depending on soil conditions) with rebar or a metal rod inserted through the holes at the top of the ground screw. Larger ground screws need to be installed with low speed, high torque rotary drivers. See our installation section for more information.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>7. Can ground screws be installed if I hit obstructions below grade?</p>
</h4><div class="bauer-text clearfix " style=""><p>Ground screws typically work very well in areas with difficult soil such as rocky or cobbled soil, areas with tree roots, etc. In certain, very difficult areas, it may be necessary to pre-drill the hole. See our installation section for more information.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>8. Can ground screws be removed/re-used?</p>
</h4><div class="bauer-text clearfix " style=""><p>Yes, ground screws can be removed and re-used. Simply turn the ground screw counter clockwise for removal. The ground screws should be carefully inspected to ensure the threads and galvanization have not been damaged during install/removal before using again.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>9. How long do ground screws last?</p>
</h4><div class="bauer-text clearfix " style=""><p>Our ground Screws are Hot-Dip Galvanized by ASTM requirements to 75 microns in thickness. They should last between 50 and 100 years. This is all “soil dependent” which is covered in the ESR. We do not recommend using them in soils where the pH is less than 5.5. We Warranty the screws for 25 years. They do usually outlive the structure placed on them.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>10. Does BDI Ground Screw provide installation services?</p>
</h4><div class="bauer-text clearfix " style=""><p>Currently we do not.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div><h4 class="bauer-text clearfix " style="font-size:34px;line-height:30px;margin-bottom:30px;"><p>11. Does BDI Ground Screw provide installer training?</p>
</h4><div class="bauer-text clearfix " style=""><p>Currently we do not.</p>
<p>We have experienced installers in different areas around the country that will provide installer training.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div><div class="bauer-text clearfix text-center" style=""><h1 style="text-align: left;">Return Policy</h1>
</div><div class="bauer-text clearfix " style="font-size:18px;"><p>All stock items that are not defective in design or manufacture, as determined by AGS action reasonably, may be returned by the customer with a restocking charge of 25% of the price paid for those items, including any tax paid. Customer is responsible for return shipping costs, and all returned products must be in unused, resale-ready condition. Credit may only be issued once returned product has been received and inspected by AGS.</p>
</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
