---
import Layout from '../layouts/Layout.astro';

const title = "Household Products - BDI Ground Screw";
const description = "";
const customCss = `<style>.vc_custom_1578262566673{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587733019841{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587733019841{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578262566673 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style=""><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		HOUSEHOLD
	</span></span></div><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><h2 data-w-id="1b0cc208-babb-3cf7-58da-baac075f382e">Ground screw systems for the consumer market.</h2>
</h2><div class="bauer-text clearfix " style=""><p><span>Our easy-to-use and affordable ground screw systems are ideal for  do-it-yourself home improvement, including light construction and recreational projects like umbrellas and sports netting. There are no concrete footings needed, so it’s easy to remove or relocate foundations later with minimal effort or wear and tear.</span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div><div class="bauer-single-heading clearfix " style="margin-bottom:18px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#000000;font-size:20px;">
		APPLICATIONS
	</span></span></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-10 no-borders" data-grid="2" >
		<div class="bauer-text clearfix " style="font-size:16px;"><p>Wood Shed</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Mailbox Post</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Wooden Fence Post Replacement</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Securing Garden Features</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Umbrella Footing</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Outdoor Balance Beams</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Art Displays</p>
</div>

	</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div><div class="button-wrap icon-right" style="" ><a href="https://usagroundscrew.com/" target="_blank" class="bauer-button btn-276804770 medium no_icon custom outline solid custom" style="border-radius:30px;border-width:1px;"  data-background="#cd3539" data-border="" data-text="#ffffff" data-text-hover="#ffffff" data-background-hover="#12294a">
		<span style="">Buy Now </span>
	</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="false" data-loop="false" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/Household.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2020/01/mailbox.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/01/household-2.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/01/household1.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/01/household3.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/01/household4-scaled.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/01/household5-scaled.jpg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1587733019841 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><h2 class="bauer-text clearfix text-center" style=""><p>Testimonials</p>
</h2>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="10" data-smobi="10"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#ffffff;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"> <div class="desc" style="color:#000000;"><p><span>This anchor worked perfect for my mailbox. There was no need to dig or use cement. We just screwed this into the ground and bolted the wood post onto it. Works perfect!! Highly recommend this. Just make sure to call for all utility lines prior to use.</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#ffffff;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"> <div class="desc" style="color:#000000;"><p>I built a custom $125k pool and these are one of my favorite things about the whole yard. I lined the West side of the pool with these in ground umbrella holders. When not in use they are hidden with covers that blend with the turf. This also prevents trip hazards.</p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#ffffff;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"> <div class="desc" style="color:#000000;"><p>Always difficult to judge something on line&#8230;.. I needed a solutions for a small flag pole and did not want to dig and fill with cement and make a permanent pole site. This is perfect. And actually screwed right into the ground relatively easily. Great thing.</p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1587733019841 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1270842517 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-632623687 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1041184300 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-2058127506 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></div></section></div>
</div>				
</Layout>
