---
import Layout from '../layouts/Layout.astro';

const title = "Ground Anchor | Ground Screw Anchors | BDI Ground Screw";
const description = "BDI Ground Screw is the leading American source for your ground anchor demands. Contact our team today to get your state-of-the-art screws today!";
const customCss = `<style>.vc_custom_1603488463566{background: rgba(17,39,75,0.76) url(/wp-content/uploads/2020/10/barf.jpg) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;*background-color: rgb(17,39,75) !important;}.vc_custom_1577797465317{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1585855736194{background-image: url(/wp-content/uploads/2020/01/screw-force.png) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}.vc_custom_1579020832008{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578231463784{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1677546327697{margin-right: 40px !important;margin-left: 40px !important;background-color: #ffffff !important;background-position: 0 0 !important;background-repeat: no-repeat !important;}.vc_custom_1585855577366{background-image: url(/wp-content/uploads/2019/12/construction-meter.png) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1578091012621{padding-top: 40px !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="home-top-banner" class="wpb_row vc_row-fluid overflow-hidden wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1603488463566 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1578091012621"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<h1 style="color: #ffffff; margin: 0;" class="wow fadeIn" data-wow-delay=".8s" data-wow-duration="2s"><strong>Simple.</strong></h1>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<h1 style="color: #ffffff; margin: 0;" class="wow fadeIn" data-wow-delay="1.6s" data-wow-duration="2s"><strong>Solid.</strong></h1>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUpBig fadeInUpBig" >
		<div class="wpb_wrapper">
			<h1 style="color: #ffffff; margin: 0;" class="wow fadeIn" data-wow-delay="2.4s" data-wow-duration="2s"><strong>Sustainable.</strong></h1>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			<h4><span style="color: #ffffff;" class="wow fadeInRight" data-wow-delay="2.2s" data-wow-duration="1s">The Ground Screw Foundation that contractors trust.</span></h4>

		</div>
	</div>
<div class="button-wrap icon-right wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay="2s"><a href="#first-row" target="_self" class="bauer-button btn-2102550778 big no_icon custom outline solid custom" style="margin:30px 20px 0 0;border-radius:30px;border-width:2px;"  data-background="" data-border="#cd3539" data-text="#ffffff" data-text-hover="#ffffff" data-border-hover="#ffffff" data-icon-hover="#ffffff">
		<span style="">Learn More </span>
	</a></div><div class="button-wrap icon-right wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay="2s"><a href="/code-compliance/index.html" target="_self" class="bauer-button btn-1244051895 big no_icon custom" style="margin:30px 0 0 0;border-radius:30px;"  data-background="#cd3539" data-text="#ffffff" data-text-hover="#cd3539" data-background-hover="#ffffff" data-border-hover="#ffffff" data-icon-hover="#ffffff">
		<span style="">Code Compliance </span>
	</a></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-15 no-borders" data-grid="2" >
		
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_raw_html wpb_content_element" >
		<div class="wpb_wrapper">
			<div id="screw-animation" class="screw-down">
		<div class="screw-animation-inner">
		<div class="blue ribbon absolute ribbon-turn blue-turn"></div>
		<img decoding="async" class="screw" src="/wp-content/uploads/2023/03/screw2.png" alt="screw">
		<div class="green ribbon absolute ribbon-turn green-turn"></div>
		</div>
	</div>
		</div>
	</div>
</div></div></div></div></div></section></div><section class="vc_section"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="20" data-smobi="20"></div>
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div></div></div></section></div></section><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1577797465317 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="45" data-mobi="0" data-smobi="0"></div><div class="bauer-single-heading clearfix  wow fadeIn" style="margin-bottom:25px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cacaca;font-size:16px;">
		SIMPLE. SOLID. SUSTAINABLE.
	</span></span></div><h2 class="bauer-text clearfix  wow fadeIn" style="font-weight:600;font-size:42px;line-height:50px;margin-bottom:32px;"><p>We’re putting the world on a simpler foundation.</p>
</h2><div class="bauer-text clearfix  wow fadeIn" style=""><p>BDI Ground Screw puts a better foundation within everyone’s reach. Now in use around the world, ground screws create strong, safe, long-lasting foundations for virtually any construction application in any landscape. Our solution is simple by design: compliant with building codes, easy and affordable to install, and ready to build on in a matter of hours instead of days or weeks. A greener alternative to concrete and deep foundations, ground screws go where others cannot, ideal for hard-to-build areas, brownfields, and sites that shouldn’t be disturbed. With BDI Ground Screw on your side, all your project demands are met. We don’t just offer ground anchors and ground screw anchors; we also offer rentable machinery so we can serve our customers with the most reliable solutions for their needs. Looking to make your project permanent? We can help. Looking for a one-time project solution? We can help you with that too. Our state-of-the-art ground anchors and superior customer service make us the best in the industry.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="42" data-mobi="30" data-smobi="30"></div><div class="button-wrap icon-right wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".5s"><a href="/about-us/index.html" target="_self" class="bauer-button btn-1369386082 medium no_icon accent" style="border-radius:30px;"  data-text="#ffffff">
		<span style="">About Us </span>
	</a></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="20" data-smobi="20"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="0" data-smobi="0"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple wow fadeInUp" style="padding:35px 25px 27px;border-radius:5px;border:1px solid #e7e7e7;"  data-wow-duration="1s" data-wow-delay="0.6s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-193281875 custom custom"  data-icon="#cd3539" data-background="" data-icon-hover="#ffffff">
				<span class="icon" style="font-size:54px;width:54px;height:54px;border-style:solid;line-height:54px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading " style="font-size:20px;line-height:24px;margin-bottom:10px;">
			<span>FAST &amp; EASY</span>
		</h3><div class="desc" style=""><p><span>A stable foundation ready in in a fraction of the time.</span></p>
</div> </div></div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="30" data-smobi="30"></div><div class="bauer-icon-box clearfix icon-top align-center  simple wow fadeInUp" style="background-color:#ffffff;padding:35px 25px 27px;border-radius:5px;border:1px solid #e7e7e7;"  data-wow-duration="1s" data-wow-delay=".6s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-255121136 accent custom"  data-background="">
				<span class="icon" style="font-size:54px;width:54px;height:54px;border-style:solid;line-height:54px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading " style="font-size:20px;line-height:24px;margin-bottom:10px;">
			<span>COST-EFFECTIVE</span>
		</h3><div class="desc" style=""><p><span>Save on materials and labor with no digging or concrete needed.</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="30" data-smobi="30"></div><div class="bauer-icon-box clearfix icon-top align-center  simple wow fadeInDown" style="padding:35px 25px 27px;border-radius:5px;border:1px solid #e7e7e7;"  data-wow-duration="1s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1720117710 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:54px;width:54px;height:54px;border-style:solid;line-height:54px;"><i class="typcn typcn-leaf"></i></span>
			</div> <h3 class="heading " style="font-size:20px;line-height:24px;margin-bottom:10px;">
			<span>SUSTAINABLE</span>
		</h3><div class="desc" style=""><p><span>Systems designed to minimize waste and environmental impact.</span></p>
</div> </div></div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="30" data-smobi="30"></div><div class="bauer-icon-box clearfix icon-top align-center  simple wow fadeInRight" style="background-color:#ffffff;padding:35px 25px 27px;border-radius:5px;border:1px solid #e7e7e7;"  data-wow-duration="1s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-451594817 accent custom"  data-background="">
				<span class="icon" style="font-size:54px;width:54px;height:54px;border-style:solid;line-height:54px;"><i class="vc_li vc_li-settings"></i></span>
			</div> <h3 class="heading " style="font-size:20px;line-height:24px;margin-bottom:10px;">
			<span>CUSTOMIZABLE</span>
		</h3><div class="desc" style=""><p><span>We can design and manufacture systems according to your needs.</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 class="bauer-text clearfix  wow fadeIn" style="font-weight:600;font-size:36px;line-height:50px;color:#000000;margin-bottom:32px;"><p>Ground screws in action:</p>
</h3>
	<div class="wpb_video_widget wpb_content_element vc_clearfix  wpb_animate_when_almost_visible wpb_fadeIn fadeIn  vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="BDI Ground Screw: Ground Screw Installation Instructional Video" width="500" height="281" src="https://www.youtube.com/embed/lZTnbbOyJic?start=1&amp;feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="10" data-smobi="10"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 class="bauer-text clearfix  wow fadeIn" style="font-weight:600;font-size:36px;line-height:50px;color:#000000;margin-bottom:32px;"><p>Ground screw installation:</p>
</h3>
	<div class="wpb_video_widget wpb_content_element vc_clearfix  wpb_animate_when_almost_visible wpb_fadeIn fadeIn  vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="BDI Ground Screw Installation Animation" width="500" height="281" src="https://www.youtube.com/embed/_mVMr7cSbxA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="10" data-smobi="10"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1585855736194 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="500" data-mobi="400" data-smobi="400"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1579020832008 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix  wow fadeInUp" data-padding="40px 40px 40px 40px" data-mobipadding="40px 40px 38px 40px" data-margin="-300px 0px 0px 0px" data-mobimargin="-100px 0px 0px 0px"  data-wow-duration="0.6s" data-wow-delay="0.3s">
		<div class="inner ctb-1994301536" style="background-size:cover;"  data-background="#ffffff" data-rounded="5px" data-shadow=" 0px 0px 20px 0px rgba(0,0,0,0.07)">
			<h2 class="bauer-text clearfix " style="font-weight:600;"><p>Ground screws secure structures better than concrete.</p>
</h2>
	<div class="bauer-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10"></div><div class="bauer-text clearfix " style=""><p>If you’ve worked with ground screws before, chances are we made them. We were one of the world’s first manufacturers of the technology and we continue to set the global standard for quality and performance. Our approach is built on collaboration: we share our knowledge and best practices with an international network of engineers, manufacturers, and building professionals. Our attention to detail and focused collaboration allows us to offer reliable, reputable solutions supported by our expert services. BDI Ground Screw is just not ground anchors and anchor screws; we are also a resource of knowledge and advancement for all those seeking up-to-code engineering solutions.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="30" data-smobi="30"></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-0 no-borders" data-grid="2" >
		<div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1356791141 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h1 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>Year-Round<br />
Installation</span>
		</h1> </div></div><div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-513376325 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h3 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>No Concrete &amp;<br />
No Excavation</span>
		</h3> </div></div><div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1408329079 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h3 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>Environmentally<br />
Friendly</span>
		</h3> </div></div><div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1733729884 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h3 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>Immediately<br />
Loadable</span>
		</h3> </div></div><div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-38209816 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h3 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>Permanent<br />
&amp; Reusable</span>
		</h3> </div></div><div class="bauer-icon-box clearfix icon-left align-left  simple wow fadeIn" style=""  data-wow-duration="0.75s" data-wow-delay="1.2s"><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1526452288 custom custom"  data-icon="#cd3539" data-background="">
				<span class="icon" style="font-size:42px;width:42px;height:42px;border-style:solid;border-radius:21px;line-height:44px;"><i class="elegant-icon_check_alt2"></i></span>
			</div> <h3 class="heading " style="padding-left:60px;color:#414042;font-size:15px;line-height:20px;margin-bottom:30px;">
			<span>Cost<br />
Effective</span>
		</h3> </div></div>

	</div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="50" data-smobi="50"></div>
<div class="bauer-partner arrow-center bullet-circle offsetcenter offset-v0 has-bullets" data-auto="true" data-loop="true" data-column="6" data-column2="3" data-column3="2" data-gap="30">
	
	<div class="owl-carousel owl-theme">
	            	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img fetchpriority="high" decoding="async" width="300" height="300" src="/wp-content/uploads/2023/06/TSB_Certified_lrg-1.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="wp-content/uploads/2023/06/TSB_Certified_lrg-1.jpg 300w, wp-content/uploads/2023/06/TSB_Certified_lrg-1-150x150.jpg 150w, wp-content/uploads/2023/06/TSB_Certified_lrg-1-140x140.jpg 140w, wp-content/uploads/2023/06/TSB_Certified_lrg-1-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
		        	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img loading="lazy" decoding="async" width="187" height="243" src="/wp-content/uploads/2020/03/image001.jpg" class="attachment-full size-full wp-post-image" alt="" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
		        	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img loading="lazy" decoding="async" width="400" height="332" src="/wp-content/uploads/2019/03/logo_ce_resized.png" class="attachment-full size-full wp-post-image" alt="CE" srcset="wp-content/uploads/2019/03/logo_ce_resized.png 400w, wp-content/uploads/2019/03/logo_ce_resized-300x249.png 300w" sizes="auto, (max-width: 400px) 100vw, 400px" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
		        	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img loading="lazy" decoding="async" width="400" height="332" src="/wp-content/uploads/2019/03/logo_iso_resized.png" class="attachment-full size-full wp-post-image" alt="" srcset="wp-content/uploads/2019/03/logo_iso_resized.png 400w, wp-content/uploads/2019/03/logo_iso_resized-300x249.png 300w" sizes="auto, (max-width: 400px) 100vw, 400px" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
		        	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img loading="lazy" decoding="async" width="323" height="331" src="/wp-content/uploads/2019/03/logo_icc_resized.png" class="attachment-full size-full wp-post-image" alt="" srcset="wp-content/uploads/2019/03/logo_icc_resized.png 323w, wp-content/uploads/2019/03/logo_icc_resized-293x300.png 293w" sizes="auto, (max-width: 323px) 100vw, 323px" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
		        	<div class="partner-item clearfix">
        		<div class="inner">
		            		            	<a target="_blank" href="/">
	    				<div class="thumb">
		    				<img loading="lazy" decoding="async" width="400" height="332" src="/wp-content/uploads/2019/03/logo_uspto_resized.png" class="attachment-full size-full wp-post-image" alt="United States Patent and Trademark Office Seal" srcset="wp-content/uploads/2019/03/logo_uspto_resized.png 400w, wp-content/uploads/2019/03/logo_uspto_resized-300x249.png 300w" sizes="auto, (max-width: 400px) 100vw, 400px" />	    				</div>
	    				</a>
	         		        		</div>
            </div>
			</div><!-- /.owl-carousel -->

</div><!-- /.bauer-partner -->

</div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578231463784 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><h2 class="bauer-text clearfix text-center" style="font-size:42px;line-height:50px;color:#000000;margin-bottom:30px;"><p>Applications</p>
</h2><div class="bauer-text clearfix text-center" style="font-size:18px;line-height:30px;color:#414042;max-width:890px;margin-left: auto; margin-right: auto;"><div class="bauer-text clearfix text-center">
<div class="home-section-title-wrap">
<p>Our ground screw technology is the professional’s choice for solar power projects, construction and the consumer/residential market.
</p></div>
<div class="home-section-accessories"></div>
</div>
</div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-490965050" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1.s" data-wow-delay=".3s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="2560" height="1920" src="/wp-content/uploads/2020/10/Panel-View2-EDIT-scaled.jpg" class="attachment-full size-full" alt="Large solar panel setup being installed." srcset="wp-content/uploads/2020/10/Panel-View2-EDIT-scaled.jpg 2560w, wp-content/uploads/2020/10/Panel-View2-EDIT-300x225.jpg 300w, wp-content/uploads/2020/10/Panel-View2-EDIT-1024x768.jpg 1024w, wp-content/uploads/2020/10/Panel-View2-EDIT-768x576.jpg 768w, wp-content/uploads/2020/10/Panel-View2-EDIT-1536x1152.jpg 1536w" sizes="auto, (max-width: 2560px) 100vw, 2560px" /> <div class="hover-layer"><a href="/applications/solar/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/solar/index.html">
                Solar
            </a>
        </h3> <div class="desc" style="">Secure solar arrays with a small environmental footprint.</div> 
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-1662640933" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".5s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="320" height="240" src="/wp-content/uploads/2023/01/Construction.jpg" class="attachment-full size-full" alt="Residential home." srcset="wp-content/uploads/2023/01/Construction.jpg 320w, wp-content/uploads/2023/01/Construction-300x225.jpg 300w" sizes="auto, (max-width: 320px) 100vw, 320px" /> <div class="hover-layer"><a href="/applications/construction/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/construction/index.html">
                Construction
            </a>
        </h3> <div class="desc" style="">Professional systems for rapid building.</div> 
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-873271084" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".8s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="756" height="656" src="/wp-content/uploads/2023/01/Signage-lighting-towers-use.jpeg" class="attachment-full size-full" alt="Lightning tower in a grassy field." srcset="wp-content/uploads/2023/01/Signage-lighting-towers-use.jpeg 756w, wp-content/uploads/2023/01/Signage-lighting-towers-use-300x260.jpeg 300w, wp-content/uploads/2023/01/Signage-lighting-towers-use-640x555.jpeg 640w, wp-content/uploads/2023/01/Signage-lighting-towers-use-480x417.jpeg 480w, wp-content/uploads/2023/01/Signage-lighting-towers-use-600x521.jpeg 600w" sizes="auto, (max-width: 756px) 100vw, 756px" /> <div class="hover-layer"><a href="/applications/signage-lighting-towers/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/signage-lighting-towers/index.html">
                Signage/Lighting/Towers
            </a>
        </h3> <div class="desc" style="">Hard-working solutions for customer use.</div> 
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div></div></div></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-156539004" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".3s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="450" height="403" src="/wp-content/uploads/2020/01/fence-homepage.jpg" class="attachment-full size-full" alt="Black, chainlink fence." srcset="wp-content/uploads/2020/01/fence-homepage.jpg 450w, wp-content/uploads/2020/01/fence-homepage-300x269.jpg 300w" sizes="auto, (max-width: 450px) 100vw, 450px" /> <div class="hover-layer"><a href="/applications/fencing/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/fencing/index.html">
                Fencing
            </a>
        </h3>  
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-1471891067" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".5s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="450" height="403" src="/wp-content/uploads/2020/01/shooting-home.jpg" class="attachment-full size-full" alt="Desert shooting range." srcset="wp-content/uploads/2020/01/shooting-home.jpg 450w, wp-content/uploads/2020/01/shooting-home-300x269.jpg 300w" sizes="auto, (max-width: 450px) 100vw, 450px" /> <div class="hover-layer"><a href="/applications/shooting-sports/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/shooting-sports/index.html">
                Shooting Sports
            </a>
        </h3> <div class="desc" style="">Innovative Target Stand Solutions</div> 
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-487711218" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".8s">
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="568" height="568" src="/wp-content/uploads/2020/01/mailbox.jpg" class="attachment-full size-full" alt="Black mailbox in a residential area." srcset="wp-content/uploads/2020/01/mailbox.jpg 568w, wp-content/uploads/2020/01/mailbox-300x300.jpg 300w, wp-content/uploads/2020/01/mailbox-150x150.jpg 150w, wp-content/uploads/2020/01/mailbox-480x480.jpg 480w, wp-content/uploads/2020/01/mailbox-140x140.jpg 140w, wp-content/uploads/2020/01/mailbox-450x450.jpg 450w, wp-content/uploads/2020/01/mailbox-100x100.jpg 100w" sizes="auto, (max-width: 568px) 100vw, 568px" /> <div class="hover-layer"><a href="/applications/household/index.html" class="icon"><span class="elegant-icon_plus_alt"></span></a></div></div>
                <div class="text-wrap " style=" padding:30px 30px 12px;">
                    <h3 class="title" style="font-size:18px;">
            <a href="/applications/household/index.html">
                Household
            </a>
        </h3> <div class="desc" style="">Our light duty/household ground screws</div> 
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1677546327697 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="60"></div><div class="bauer-single-heading clearfix text-center" style="margin-bottom:24px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:16px;">
		TESTIMONIALS
	</span></span></div><h2 class="bauer-text clearfix text-center" style="font-size:42px;line-height:50px;margin-bottom:26px;max-width:610px;margin-left: auto; margin-right: auto;"><p><span class="font-weight-300">What</span> our customers <span class="font-weight-300">are saying</span></p>
</h2><div class="bauer-text clearfix text-center" style="font-size:18px;line-height:30px;color:#414042;max-width:730px;margin-left: auto; margin-right: auto;"><p>At BDI Ground Screw, customer satisfaction is our ultimate goal. See what our clients have to say about a variety of services that we provided for their projects.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="30" data-smobi="30"></div><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="false" data-loop="false" data-gap="50" data-column="3" data-column2="2" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-testimonials light clearfix style-1 simple" style="">
        <div class="inner" style="">
	    <div class="image-wrap">
	    	
	    </div>
	    <div class="name-wrap" style="">
	    	<div class="name-pos" style=""><h6 class="name" style=""><span>Levi Tippetts</span></h6> <span class="position" style="">TC Decks</span></div>
	    </div>
	    <div class="text-wrap">
	    <blockquote class="text" style="font-style:normal;"><p>I am a custom deck builder out of Central Utah, where the ground can be either very rocky or very dense clay. We also have a deep frost depth. Doing the footings for decks was always the worst part of building decks. Having to dig, and pour, then wait for the cement to dry was always a challenge. BDI Ground Screw eliminated that hassle. Usually within a couple hours I can have my footings installed, and start building my decks. The team at AGS has been great to work with, and I can&#8217;t recommend them enough.<br />
<span> </span></p>
</blockquote>
	    </div>
    </div>
    </div><div class="bauer-testimonials light clearfix style-1 simple" style="">
        <div class="inner" style="">
	    <div class="image-wrap">
	    	
	    </div>
	    <div class="name-wrap" style="">
	    	<div class="name-pos" style=""><h6 class="name" style=""><span>Wayne Paulsboe</span></h6> <span class="position" style="">Backyard Builders, Grayslake, IL</span></div>
	    </div>
	    <div class="text-wrap">
	    <blockquote class="text" style="font-style:normal;"><div class="">
<p class=""><span class="">&#8220;I don&#8217;t have a mini skid steer or a mini excavator to run a hydraulic driven system, and I don&#8217;t have to haul around multiple heavy concrete diamonds and multiple poles. The AGS (BDI Ground Screw) system offers a low-speed, high-torque driver which is perfect for what I need.&#8221;</span></p>
</div>
<div class="">
<p class=""></div>
</blockquote>
	    </div>
    </div>
    </div><div class="bauer-testimonials light clearfix style-1 simple" style="">
        <div class="inner" style="">
	    <div class="image-wrap">
	    	
	    </div>
	    <div class="name-wrap" style="">
	    	<div class="name-pos" style=""><h6 class="name" style=""><span>Jim Becker</span></h6> <span class="position" style="">AllEarth Renewables</span></div>
	    </div>
	    <div class="text-wrap">
	    <blockquote class="text" style="font-style:normal;"><p>In the world of procurement, you usually only get to pick two of three virtues in a supplier; <u>Quality</u>, <u>Good Pricing</u> or <u>On-time Delivery</u>. BDI Ground Screw is one of the rare suppliers that offers all three. I couldn’t be happier with the quality and service we’ve received from AGS. Their willingness to take the extra steps to meet our needs is why I reorder repeatedly. Thank you!</p>
</blockquote>
	    </div>
    </div>
    </div></div>
	</div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-40"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style="margin-bottom:25px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:16px;">
		THE GROUND SCREW ADVANTAGE
	</span></span></div><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><p>Ground screws are a proven alternative to concrete and deep foundations</p>
</h2><div class="bauer-text clearfix " style=""><p>Ground screws save you time and effort. With state-of-the-art<br />
products and easy-to-use tools, you can install structural foundations<br />
in just a few minutes. Simply mark the location, drive the screw, and<br />
start building — with no digging, re-grading, removing soil, or waiting<br />
to pour concrete.</p>
<p>Build strong with a fraction of the budget required for poured concrete<br />
footings. Anchoring and building projects can now be accomplished<br />
with fewer hands, fewer materials and less specialized labor. And<br />
because there are no demolition or recycling costs for removal, you<br />
save money on the back end as well.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="47px 50px 94px 50px" data-mobipadding="40px" data-margin="" data-mobimargin="" >
		<div class="inner ctb-779357107" style=""  data-background="#12294a" data-rounded="5px" data-border-color="rgba(231,231,231,0.3)">
			<div class="bauer-grid-box clearfix grid2 border-light v-30 h-15 no-borders" data-grid="2" >
		<p><h2 class="bauer-text clearfix " style="font-size:24px;margin-bottom:25px;"><p><span style="color: #cd3539;">Concrete</span> <span style="color: #ffffff;">vs</span> <span style="color: #cd3539;">Ground Screws</span><br />
<span style="color: #ffffff;">THERE’S REALLY NO COMPARISON</span></p>
</h2><div class="bauer-text clearfix " style="color:#ffffff;"><h5 style="margin-bottom: 10px;"><span style="color: #cd3539;">Concrete</span></h5>
<p>Weather Dependent<br />
Site Clearing<br />
Site Survey<br />
Excavation<br />
Formwork<br />
Reinforcement<br />
Concrete install<br />
Curing<br />
Form removal<br />
Site Cleanup<br />
Building Assembly</p>
</div><div class="bauer-text clearfix " style="color:#ffffff;"><h5 style="margin-bottom: 10px;"><span style="color: #cd3539;">Ground Screw</span></h5>
<p>Weather Independent<br />
<del>Site Clearing</del><br />
Site Survey<br />
<del>Excavation</del><br />
<del>Formwork</del><br />
<del>Reinforcement</del><br />
Screw install<br />
<del>Curing</del><br />
<del>Form removal</del><br />
<del>Site Cleanup</del><br />
Building Assembly</p>
</div>

	</div>
		</div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="200" data-mobi="160" data-smobi="160"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1585855577366 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="30" data-smobi="30"></div><h2 class="bauer-text clearfix text-center" style="font-size:42px;line-height:50px;color:#ffffff;margin-bottom:30px;"><p><span class="font-weight-300">Let&#8217;s talk about</span> your project</p>
</h2><div class="bauer-text clearfix text-center" style="font-size:18px;line-height:30px;color:#8a99c0;max-width:890px;margin-left: auto; margin-right: auto;"><p><span style="color: #ffffff;">When you contact us, you know you&#8217;re getting highly qualified professionals who have the expertise and experience to make sure your getting the right product.</span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="30" data-smobi="30"></div><div class="bauer-align-box text-center"><div class="button-wrap icon-right" style="" ><a href="/contact-us/index.html" target="_self" class="bauer-button btn-1927851408 medium no_icon accent" style="border-radius:30px;"  data-text="#ffffff">
		<span style="">Contact Us </span>
	</a></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
