---
import Layout from '../layouts/Layout.astro';

const title = "Installation - BDI Ground Screw";
const description = "";
const customCss = `<style>.vc_custom_1583185823450{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1583188632672{background-color: #f7f9fa !important;}.vc_custom_1583187272930{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1583188840766{background-color: #f7f9fa !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1583185823450 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:30px;"><p>Ground Screw Installation</p>
</h2><div class="bauer-text clearfix " style="max-width:700px;"><p>Ground Screws can be installed quickly in a wide variety of soil conditions using a variety of low speed, high torque drivers. Ground screws are ready for loading immediately after installation which makes them ideal for one day installations of solar arrays, decks, fences, and foundations of all types.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="button-wrap icon-right" style="" ><a href="/wp-content/uploads/2024/10/Installation-Instruction-Manual-2.pdf" target="_blank" class="bauer-button btn-601294090 medium no_icon custom" style="border-radius:30px;"  data-background="#cd3539" data-text="#ffffff" data-background-hover="#12294a">
		<span style="">Installation Manual </span>
	</a></div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="button-wrap icon-right" style="" ><a href="/wp-content/uploads/2021/02/Manuel-dinstallation-Saiga18.pdf" target="_blank" class="bauer-button btn-333087960 medium no_icon custom" style="border-radius:30px;"  data-background="#cd3539" data-text="#ffffff" data-background-hover="#12294a">
		<span style="">Manuel d’installation </span>
	</a></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/02/installation.jpg" /> 
		</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div>
	<div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left" >
		<div class="wpb_wrapper">
			
			<div class="wpb_video_wrapper"><iframe title="BDI Ground Screw: Ground Screw Installation Instructional Video" width="500" height="281" src="https://www.youtube.com/embed/lZTnbbOyJic?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		</div>
	</div>
</div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1583188632672 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="70" data-mobi="20" data-smobi="20"></div><h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;"><p>Installation Products</p>
</h2>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1583187272930 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-843324870" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center" style="" >
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img fetchpriority="high" decoding="async" width="341" height="378" src="/wp-content/uploads/2020/03/install-1.jpeg" class="attachment-full size-full" alt="Hand-held electric driver." srcset="../wp-content/uploads/2020/03/install-1.jpeg 341w, ../wp-content/uploads/2020/03/install-1-271x300.jpeg 271w" sizes="(max-width: 341px) 100vw, 341px" /> </div>
                <div class="text-wrap " style="">
                    <h3 class="title" style="margin-top:20px;">
            Hand-held electric driver
        </h3>  
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-1887941449" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center" style="" >
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img decoding="async" width="341" height="378" src="/wp-content/uploads/2020/03/5d5c096bc4dd24de72765f9d_Machine-Mounted-Hydraulic-Unit.png" class="attachment-full size-full" alt="Machine-mounted hydraulic driver." srcset="../wp-content/uploads/2020/03/5d5c096bc4dd24de72765f9d_Machine-Mounted-Hydraulic-Unit.png 341w, ../wp-content/uploads/2020/03/5d5c096bc4dd24de72765f9d_Machine-Mounted-Hydraulic-Unit-271x300.png 271w" sizes="(max-width: 341px) 100vw, 341px" /> </div>
                <div class="text-wrap " style="">
                    <h3 class="title" style="margin-top:20px;">
            Machine-mounted hydraulic driver
        </h3>  
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="17px 15px 17px 15px" data-mobipadding="17px 15px 17px 15px" data-margin="15px 15px 15px 15px" data-mobimargin="" >
		<div class="inner ctb-468509262" style=""  data-background="#ffffff">
			<div class="bauer-image-box clearfix style-1 text-center" style="" >
        <div class="item">
            <div class="inner">
                <div class="thumb" style=""><img loading="lazy" decoding="async" width="341" height="378" src="/wp-content/uploads/2020/03/815fPuBk0rL._AC_SL1500_.jpg" class="attachment-full size-full" alt="Manual high toque driver for ground screw installation." srcset="../wp-content/uploads/2020/03/815fPuBk0rL._AC_SL1500_.jpg 341w, ../wp-content/uploads/2020/03/815fPuBk0rL._AC_SL1500_-271x300.jpg 271w" sizes="auto, (max-width: 341px) 100vw, 341px" /> </div>
                <div class="text-wrap " style="">
                    <h3 class="title" style="margin-top:20px;">
            Manual – Household size screws
        </h3>  
                </div>
                
            </div>
        </div>
    </div>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1583188840766 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="70" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
