---
import Layout from '../layouts/Layout.astro';

const title = "Ground Screws | ICC Certified Ground Screws";
const description = "BDI Ground Screw is the leading North American supplier and source for ground screws with ICC certification. Get in touch with us today to get yours!";
const customCss = `<style>.vc_custom_1683595345538{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595577689{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595593019{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595598843{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595604447{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595345538{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595577689{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595345538{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683595577689{padding-right: 0px !important;padding-left: 0px !important;}.vc_custom_1683604957777{padding-bottom: 1px !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="30" data-smobi="30"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 class="bauer-text clearfix " style=""><p>Simple. Solid. Sustainable.</p>
</h2><div class="bauer-text clearfix " style="font-size:18px;color:#000000;margin-bottom:20px;"><p>BDI Ground Screw offers a wide variety of screw models and flanges to meet your project needs. BDI Ground Screw stocks many different sizes of ground screws to give you a strong, safe, lasting foundation for any project. Look no further than BDI Ground Screw when you need ICC-certified ground screws and supplies. We are the only North American manufacturer and supplier of ground screws with ICC certification and an extensive list of applications. We serve residential, commercial, industrial, and everything in between with our custom solutions and precision manufacturing. We feature a diverse range of ground screws from Model 3 ground screws and flange ground screws to welded flange ground screws and more, each one serving a distinct purpose, plan, or project. Our team here at BDI Ground Screw can guide you in the right direction if you’re unsure, or we can help you customize your own ground screws for your custom application. Get in touch with BDI Ground Screw today to get started on your perfect fit solutions!</p>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="0" data-mobi="20" data-smobi="20"></div><div class="bauer-content-box clearfix " data-padding="20px" data-mobipadding="20px" data-margin="" data-mobimargin="" >
		<div class="inner ctb-1791585039" style=""  data-background="#122445">
			<div class="bauer-text clearfix " style="color:#ffffff;"><p><strong>CONSTRUCTION</strong><br />
• Q235B Steel<br />
• Continuous Welded Helix<br />
• Hot-Dipped Galvanized According to<br />
ASTM123 75 micron (avg. min. 0.0762 mm)</p>
</div>
		</div>
	</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 class="bauer-text clearfix " style=""><p><strong>ICC CERTIFIED GROUND SCREWS</strong></p>
</h3><div class="bauer-text clearfix " style="font-size:18px;color:#000000;"><p>BDI Ground Screw offers a wide range of ICC certified, Model 3 open top screws. The ICC certified screws are code compliant for uses listed in section 2.0 of our ICC-ES Evaluation Report <a href="https://icc-es.org/report-listing/esr-4226/" target="_blank" rel="noopener">(ESR-4226)</a>. If your project requires permit or code approval, rely on our ICC line of screws to help you get it done!</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-simple-image text-center" style="max-width:800px;margin-left: auto; margin-right: auto;" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/05/ICC-product-image-1.png" /> 
		</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/12/ICC-Ground-Screw-mobile.fw_.png" /> 
		</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1650586297" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>ICC CERTIFIED MODELS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-150792242" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>IM3316<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-683590917" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>IM3320<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-654952793" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>IM34516<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-465320897" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>IM34520<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1332777965" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1523193061" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1,600mm<br />
(5&#8242;, 3&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-862014054" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>2,000mm<br />
(6&#8242;, 7&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1683391595" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1,600mm<br />
(5&#8242;, 3&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1649068472" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>2,000mm<br />
(6&#8242;, 7&#8243;)</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595593019"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1168408499" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-585464371" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>76mm<br />
(3 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-968217030" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>76mm<br />
(3 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2042737121" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>114mm<br />
(4.5 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1661592407" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>114mm<br />
(4.5 inches)</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595598843"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1360899985" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>WALL THICKNESS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-246411300" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>3.75mm<br />
(0.15&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-643342958" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>3.75mm<br />
(0.15&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-679882786" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>3.75mm<br />
(0.15&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-199760243" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>3.75mm<br />
(0.15&#8243;)</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595604447"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-457636518" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>THREAD LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1572263908" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>610mm<br />
(24&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-815467271" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>610mm<br />
(24&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-677362940" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>610mm<br />
(24&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1290850560" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>610mm<br />
(24&#8243;)</p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="20" data-smobi="20"></div><h3 class="bauer-text clearfix " style=""><p><strong>MODEL 3 GROUND SCREWS</strong></p>
</h3><div class="bauer-text clearfix " style="font-size:18px;color:#000000;"><p>BDI Ground Screw Model 3, open top screws come in a variety of sizes to meet your project specifications. The Model 3 screws are a cost-effective way to create a foundation and get you on your way with your project.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-simple-image text-center" style="max-width:800px;margin-left: auto; margin-right: auto;" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/05/ICC-product-image-1.png" /> 
		</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/12/Model-3-mobile.fw_.png" /> 
		</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1855421832" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>MODEL 3<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1844766026" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>STANDARD<br />
SCREW RANGES<br />
(larger sizes manufactured to order)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1823936162" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>QC<br />
TOLERENCES</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-17604708" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2016130070" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>864mm<br />
(34 inches)<br />
🠯<br />
2,500mm<br />
(98 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1863873081" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 3.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595593019"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-779040746" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1995381941" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>50mm<br />
(2 inches)<br />
🠯<br />
114mm<br />
(4.5 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-420762506" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 1.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595598843"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1341059095" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>WALL THICKNESS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-151169359" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p><code> </code><br />
2mm<br />
🠯<br />
<span>3.75mm</span><br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1607032780" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 0.5mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595604447"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1031739509" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>THREAD LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2059138928" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p><code> </code><br />
610mm<br />
🠯<br />
880mm<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-676553272" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 3.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-166704310" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-405203377" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>50mm (2&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-68949476" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>60mm (2 3/8&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1064115142" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>68mm (2 5/8&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2066883523" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>76mm (3&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1850258331" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>89mm (3 1/2&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-18915528" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>102mm (4&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-742425511" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>114mm (4 1/2&#8243;)</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2116892888" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-617802768" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1000 (39&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2061262584" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1600 (63&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-294451288" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>864 (34&#8243;), 2000 (79&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1421558322" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1300 (51&#8243;), 1600 (63&#8243;), 2000 (79&#8243;), 2500 (98&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1641608522" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1600 (63&#8243;), 1800 (71&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-807974828" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1550 (61&#8243;), 2050 (81&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1247268029" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1600 (63&#8243;), 1800 (71&#8243;), 2000 (79&#8243;)</p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="20" data-smobi="20"></div><h3 class="bauer-text clearfix " style=""><p><strong>FLANGES FOR GROUND SCREWS</strong></p>
</h3><div class="bauer-text clearfix " style="font-size:18px;color:#000000;"><p><span style="font-size: medium;">BDI Ground Screw offers a variety of flange options to connect your project’s structure to the ground screws. BDI Ground Screw flanges are designed to be inserted into the ground screw and secured with three bolts. Whether you are using posts, beams, piping, or other structural surfaces, BDI Ground Screw flanges can help you connect and </span><span style="font-size: medium;"><span>get it done</span></span><span style="font-size: medium;">!</span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-simple-image text-center" style="max-width:726px;margin-left: auto; margin-right: auto;" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/05/ICC-product-image-1.png" /> 
		</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/12/Flange-mobile.fw_.png" /> 
		</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2044290528" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>FLANGE INSERTS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1473371264" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img decoding="async" width="109" height="100" src="/wp-content/uploads/2023/05/3-Beam.png" class="vc_single_image-img attachment-full" alt="Metal beam flange." title="3”-Beam" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-884772368" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img decoding="async" width="102" height="100" src="/wp-content/uploads/2023/05/4-Beam.png" class="vc_single_image-img attachment-full" alt="Metal beam flange." title="4-Beam" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1073179240" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img decoding="async" width="83" height="100" src="/wp-content/uploads/2023/05/6x6.png" class="vc_single_image-img attachment-full" alt="6x6 metal beam flange." title="6x6" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1809826919" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="105" height="100" src="/wp-content/uploads/2023/05/six-hole.png" class="vc_single_image-img attachment-full" alt="Model 5 6-hole circle flange." title="six-hole" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-290147344" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="91" height="101" src="/wp-content/uploads/2023/05/squate-flange.png" class="vc_single_image-img attachment-full" alt="Model 6, square flange." title="squate-flange" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-2015740370" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="102" height="100" src="/wp-content/uploads/2023/05/flex-circle.png" class="vc_single_image-img attachment-full" alt="Model 7, flex circle flange." title="flex-circle" /></div>
		</figure>
	</div>

		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1384646137" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DESCRIPTION</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1155546768" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:25px;"><p>3” Beam<br />
Flange</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1040479006" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>4&#215;4<br />
Flange</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1565300304" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>6&#215;6<br />
Flange</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1913081261" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>Model 5 Six Hole<br />
Circle Flange</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-748692870" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>Model 6 Square<br />
Flange</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-591773826" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>Model 7 Flex<br />
Circle Flange</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1128875524" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>CORRESPONDING GROUND SCREW</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1021030864" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:25px;"><p><code>  </code><br />
76mm (3”) OD Ground Screw</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1326701312" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p><code>  </code><br />
76mm (3”) OD Ground Screw</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1414062165" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>76mm (3”) OD Ground Screw<br />
114mm (4.5”) OD Ground Screw</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1570752145" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>76mm (3”) OD Ground Screw<br />
114mm (4.5”) OD Ground Screw</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-757560830" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>76mm (3”) OD Ground Screw<br />
114mm (4.5”) OD Ground Screw</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1683656452" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p>76mm (3”) OD Ground Screw<br />
114mm (4.5”) OD Ground Screw</p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="50" data-mobi="20" data-smobi="20"></div><h3 class="bauer-text clearfix " style=""><p><strong>WELDED FLANGE GROUND SCREWS</strong></p>
</h3><div class="bauer-text clearfix " style="font-size:18px;color:#000000;"><p><span style="font-size: medium;">BDI Ground Screw Welded Flange Screws are designed to connect to various above ground structures such as wooden posts, beams, metal plates, etc. The flanged screws come in a variety of flange shapes and configurations, so you can find a screw that best meets with the needs and design of your construction project. </span></p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-simple-image text-center" style="max-width:800px;margin-left: auto; margin-right: auto;" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/05/welded.png" /> 
		</div>
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/wp-content/uploads/2023/12/Welded-Flange-mobile.fw_.png" /> 
		</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-924449023" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>WELDED FLANGE</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-108319509" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>STANDARD<br />
SCREW RANGES<br />
(larger sizes manufactured to order)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1923639179" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>QC<br />
TOLERENCES</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1616975747" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1462195845" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>1600mm<br />
(63 inches)<br />
🠯<br />
2,000mm<br />
(78.75 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1828367125" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 3.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595593019"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-983348159" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1920916183" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>76mm<br />
(3 inches)<br />
🠯<br />
114mm<br />
(4.5 inches)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-171038064" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 1.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595598843"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1572752889" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>WALL THICKNESS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1437609248" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p><code> </code><br />
3mm<br />
🠯<br />
3.75mm<br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1637988710" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 0.5mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-1/5"><div class="vc_column-inner vc_custom_1683595604447"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-436504796" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>THREAD LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-480814518" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p><code> </code><br />
<code> </code><br />
880mm<br />
<code> </code><br />
<code> </code></p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1966531576" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;"><p>+- 3.0mm<br />
<code> </code></p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-0px"><section class="wpb_row vc_row-fluid vc_hidden-xs vc_row-o-equal-height vc_row-flex"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1683595345538"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-825197449" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>MODEL 5</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-447789187" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="108" height="100" src="/wp-content/uploads/2023/05/model-5.png" class="vc_single_image-img attachment-full" alt="76mm, 6-hole circle flange." title="model-5" /></div>
		</figure>
	</div>

		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1257108057" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>MODEL 8</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1888355697" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			
	<div  class="wpb_single_image wpb_content_element vc_align_center wpb_content_element vc_custom_1683604957777">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img loading="lazy" decoding="async" width="110" height="100" src="/wp-content/uploads/2023/05/model-8.png" class="vc_single_image-img attachment-full" alt="76mm, model 8, hexagonal flange." title="model-8" /></div>
		</figure>
	</div>

		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1683595577689"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1388485908" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1180692380" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p><code>  </code><br />
76mm (3&#8243;)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-267971836" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>DIAMETERS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-896568883" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p><code> </code><br />
76mm (3”)</p>
</h5>
		</div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-866917927" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1384524870" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p><code>  </code><br />
1600 (63”), 1800 (71”), 2000 (79”)</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1736047197" style="margin: 0 auto;"  data-background="#122445" data-border-color="#ffffff" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#ffffff;"><p>LENGTHS</p>
</h5>
		</div>
	</div><div class="bauer-content-box clearfix " data-padding="10px" data-mobipadding="10px" data-margin="0px" data-mobimargin="0px" >
		<div class="inner ctb-1039901034" style="margin: 0 auto;"  data-background="" data-border-color="#122445" data-border-width="1px">
			<h5 class="bauer-text clearfix text-center" style="color:#122445;margin-bottom:26px;"><p><code> </code><br />
2000 (79”)</p>
</h5>
		</div>
	</div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="30" data-mobi="20" data-smobi="20"></div><h3 class="bauer-text clearfix " style=""><p>BDI Ground Screw manufactures helical piles by the container to ship direct to a jobsite or business. For custom ground screw or helical pile manufacturing needs, please <a href="/contact-us/index.html"><u>contact us</u></a>.</p>
</h3>
	<div class="bauer-spacer clearfix" data-desktop="60" data-mobi="20" data-smobi="20"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element" >
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div></div></div></section></div>
</div>				
</Layout>
