---
// Header component
---
<div id="site-header-wrap">
			<!-- Top Bar -->
		    
<div id="top-bar" style="">
    <div id="top-bar-inner" class="bauer-container">
        <div class="top-bar-inner-wrap">
            
<div class="top-bar-content">
    </div><!-- /.top-bar-content -->


<div class="top-bar-socials">
    <div class="inner">
        
        <span class="text">
        
<div class="button-wrap icon-right wow fadeInUp" style=""  data-wow-duration="1s" data-wow-delay=".5s"><a href="code-compliance/index.html" target="_self" class="bauer-button btn-77030317 medium no_icon accent" style="border-radius:30px; font-size:13px; padding: 5px 30px; font-weight:400"  data-text="#ffffff">
		<span style="">Code Compliance</span>
	</a></div>

    </span>
    
    <span class="icons">
        </span>
    </div>
</div><!-- /.top-bar-socials -->
        </div>
    </div>
</div><!-- /#top-bar -->		    
			<!-- Header -->
			<header id="site-header" style="">
	            <div id="site-header-inner" class="bauer-container">
	            	<div class="wrap-inner">
				        
<div id="site-logo">
	<div id="site-logo-inner" style="max-width:260px;">
					<a href="index.html" title="BDI Ground Screw" rel="home" class="main-logo"><img src="wp-content/uploads/2026/BDI-White-Transparent.png" alt="BDI Ground Screw" /></a>
			</div>
</div><!-- #site-logo -->
    
<ul class="nav-extend">
			<li class="ext menu-logo"><span class="menu-logo-inner" style="max-width:138px;"><a href="index.html"><img src="wp-content/uploads/2026/BDI-White-Transparent.png"/></a></span></li>
	
	
	</ul>


	<div class="mobile-button"><span></span></div>

	<nav id="main-nav" class="main-nav">
		<ul id="menu-primary-menu" class="menu"><li id="menu-item-9613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8119 current_page_item menu-item-9613"><a href="index.html" aria-current="page"><span>Home</span></a></li>
<li id="menu-item-10185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10185"><a href="#"><span>Applications</span></a>
<ul class="sub-menu">
	<li id="menu-item-10002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10002"><a href="applications/solar/index.html"><span>Solar</span></a></li>
	<li id="menu-item-10001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10001"><a href="applications/construction/index.html"><span>Construction</span></a></li>
	<li id="menu-item-9999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9999"><a href="applications/fencing/index.html"><span>Fencing</span></a></li>
	<li id="menu-item-9998" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9998"><a href="applications/signage-lighting-towers/index.html"><span>Signage/Lighting/Towers</span></a></li>
	<li id="menu-item-9997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9997"><a href="applications/shooting-sports/index.html"><span>Shooting Sports</span></a></li>
	<li id="menu-item-10000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10000"><a href="applications/household/index.html"><span>Household</span></a></li>
</ul>
</li>
<li id="menu-item-12770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12770"><a href="#"><span>Products</span></a>
<ul class="sub-menu">
	<li id="menu-item-12768" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12768"><a href="products/index.html"><span>Ground Screws and Helical Piles</span></a></li>
	<li id="menu-item-12735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12735"><a href="household-products/index.html"><span>Household Ground Screws</span></a></li>
</ul>
</li>
<li id="menu-item-10378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10378"><a href="installation/index.html"><span>Installation</span></a></li>
<li id="menu-item-10410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10410"><a href="#"><span>Information</span></a>
<ul class="sub-menu">
	<li id="menu-item-10435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10435"><a href="faqs/index.html"><span>FAQ&#8217;s</span></a></li>
	<li id="menu-item-10520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10520"><a href="code-compliance/index.html"><span>Code Compliance and Additional Resources</span></a></li>
</ul>
</li>
<li id="menu-item-1371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1371"><a href="about-us/index.html"><span>About Us</span></a></li>
<li id="menu-item-10584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10584"><a href="contact-us/index.html"><span>Contact Us</span></a></li>
</ul>	</nav>

			        </div>
	            </div><!-- /#site-header-inner -->

	            			</header><!-- /#site-header -->
		</div><!-- /#site-header-wrap -->

		
        <!-- Main Content -->