---
import Layout from '../../layouts/Layout.astro';

const title = "Ground Screws for Foundations | BDI Ground Screw";
const description = "From decking and pergolas to housing and art installations, BDI Ground Screw is the number one source for ground screws for foundations. Get started today!";
const customCss = `<style>.vc_custom_1578262566673{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587732803644{background-color: #f7f9fa !important;background-position: center;background-repeat: no-repeat;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1578262566673 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="true" data-loop="true" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/Construction2-rotated.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/Construction4.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/Construction1-1-scaled.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/Construction3-scaled.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2022/03/Hill-install.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2022/03/Hillside-install-2.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2022/03/IMG_3182-3.png" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2022/03/IMG_3194-2.png" /> 
		</div></div>
	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style=""><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		CONSTRUCTION
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:18px;margin-bottom:32px;"><h2>Ground screw solutions for construction</h2>
</div><div class="bauer-text clearfix " style=""><p>Our professional-grade ground screw systems create reliable foundations for a wide variety of light industrial projects, from anchoring wooden structures to fencing, footbridges and storage containers. Quick to assemble without the need for concrete footings or excavation, our solution dramatically reduces your labor and materials costs while minimizing environmental impact. You can rely on our solutions at BDI Ground Screw to create ease in your workflow and timely results, without unnecessary labor and expenses. Our ground screws for foundation settings provide more stability and reliability in your structures, and we’re proud our tools work on a range of applications. Building a new house? Look no further! Our screw piles and anchor piles are durable, tested, and backed by professional customization. Building a new deck or pergola for your property? Easy! BDI Ground Screw’s ground screws for decks can bring your project to fruition with time and money back in your pocket. Let BDI Ground Screw be your trusted partner for all your ground screws for foundation settings and supplies!</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="bauer-single-heading clearfix " style="margin-bottom:18px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#000000;font-size:20px;">
		APPLICATIONS
	</span></span></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-10 no-borders" data-grid="2" >
		<div class="bauer-text clearfix " style="font-size:16px;"><p>Decks</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Pergolas</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Temporary Structures</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Carports</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Houses</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Caisson Replacement</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Tie Backs</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Art Installations</p>
</div>

	</div>
	<div class="bauer-spacer clearfix" data-desktop="40" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section data-vc-parallax="1.5" class="wpb_row vc_row-fluid vc_custom_1587732803644 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-359046132 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1519730810 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-52538441 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-876693322 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
