---
import Layout from '../../layouts/Layout.astro';

const title = "Ground Screws for Shooting Sports | BDI Ground Screw";
const description = "Ground screws for shooting sports can be a challenge to come by. But with BDI Ground Screw, it’s easier than ever. Get in touch today to get yours!";
const customCss = `<style>.vc_custom_1578075332829{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587732932414{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1578075332829 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style="margin-bottom:5px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		Shooting Sports
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:20px;margin-bottom:32px;"><h2>Ground screw solutions for shooting sports</h2>
</div><div class="bauer-text clearfix " style=""><p>The innovative, Patent Pending, “screw in” design of our Target Stands take away the never ending wind-blown sway of your target. BDI Ground Screw’s Target Stand is easy to install and remove, and due to the Hot-Dipped Galvanization this target stand can be temporary or permanent. The Small version accepts 1×2’s and can be used for USPSA, IDPA and IPSC targets. The Large stand accepts 2×4’s and is wide enough accept the largest “bag” archery targets, and is strong enough to hold large steel AR500 “gong” targets. Go make it a “Range Day”! With BDI Ground Screw, you can rest assured that your ground screws for shooting sports are reliable and well worth the investment. We service a wide range of applications from industrial and commercial to residential and oddball projects around the house. When you take on a hobby, you want security in knowing your gear can withstand the test of time. Our auger pile and micropile selection ensures your experience in a shooting sport is safe and adventurous. Our products are backed by years of industry knowledge and precision, and our equipment for shooting sports is no different. Let BDI Ground Screw partner with you today to create custom, expertly engineered ground screws for shooting sports!</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50 bullet20" data-auto="true" data-loop="true" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/04/IMG_2018.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/04/IMG_2025.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/04/IMG_2040.jpg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1587732932414 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1614238213 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1538975244 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1969645142 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-837011593 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
