---
import Layout from '../../layouts/Layout.astro';

const title = "Ground Screws for Signage and Lighting | BDI Ground Screw";
const description = "When a unique project requires a unique solution, BDI Ground Screw can help. Customize your ground screws for signage and lighting with us today!";
const customCss = `<style>.vc_custom_1578075332829{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587732859157{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1578075332829 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style="margin-bottom:5px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		Signage/Lighting/Towers
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:18px;margin-bottom:32px;"><h2>Ground screw solutions for Signage, Lighting, Towers</h2>
</div><div class="bauer-text clearfix " style=""><p>Ground screws are quick and easy to install for small sign applications and a much more economical option for large commercial-scale projects such as street and highway lights, signs and large communication towers. Faster installation, immediate construction and no concrete caissons can save thousands of dollars on a project. You can trust BDI Ground Screw when you’re ready to take on any size project with ease. Our ground screws for signage and lighting not only simplify the existing process but put much needed time and money back into your pocket so you can take on another project. Our custom-designed concrete alternatives and pile foundations make it easy to complete your project within the intended timeline so life around you can return to normal. We also feature ground screws for communication towers, and because these tall structures need long-term stability, you can rest assured that BDI Ground Screw is your source. We are the only North American ground screw supplier and manufacturer backed by ICC certification. Look no further when you need reliable ground screws for signage and lighting.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="bauer-single-heading clearfix " style="margin-bottom:18px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#000000;font-size:20px;">
		APPLICATIONS
	</span></span></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-10 no-borders" data-grid="2" >
		<div class="bauer-text clearfix " style="font-size:16px;"><p>Street/highway signs</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Light poles</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Power/communication towers</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Climate Monitoring Stations</p>
</div>

	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="true" data-loop="true" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/01/light-poles.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/01/road-sign-1.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/SignangeLightingTowers1-scaled.jpg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1587732859157 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1491963568 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-502907761 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-742585658 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-821970237 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
