---
import Layout from '../../layouts/Layout.astro';

const title = "Ground Mount for Solar | BDI Ground Screw";
const description = "BDI Ground Screw is your premier partner for ground mounts for solar and other ground solutions. Partner with us today to learn more about our solutions.";
const customCss = `<style>.vc_custom_1578075332829{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1587730910761{background-color: #f7f9fa !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style>`;
---

<Layout title={title} description={description} customCss={customCss}>

					<div class="wpb-content-wrapper"><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section id="first-row" class="wpb_row vc_row-fluid vc_custom_1578075332829 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-single-heading clearfix " style="margin-bottom:5px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#cd3539;font-size:20px;">
		SOLAR
	</span></span></div><div class="bauer-text clearfix " style="font-weight:600;font-size:20px;margin-bottom:32px;"><h2>Ground screw solutions for solar</h2>
</div><div class="bauer-text clearfix " style=""><p>BDI Ground Screw’s products are designed, tested and included as an engineered foundation option for all major 2” and 3” rigid pipe racking systems. An easy alternative to concrete for all installers, whether experienced with ground screws or not. You can trust our team here at BDI Ground Screw to guide you through your ground mounts for solar projects to not only ensure you receive the products you need, but the services you’re seeking as well. We offer unparalleled industry knowledge to each project and client we serve, and that’s why you can’t go wrong with choosing us for your ground solar mounting demands. We pave the way with our services and supplies and offer easy-to-install solar ground mounts so all businesses and homeowners can relax into trust with their project and solar arrangement. It’s a big undertaking to install solar on any type of property, especially non-roof mounted panel arrays. Our team of experts works diligently to create and offer customized, cost-effective solar ground mount your team can rely on for years to come.</p>
<p><span><strong>Ground screws offer the following advantages for ground mount solar installations:</strong></span></p>
<ul>
<li><span>Work best in dense, very dense, very stiff, and hard soils; </span></li>
<li><span>Ideal for rock, where the design is often based on yield strength as opposed to cohesion; </span></li>
<li><span>No digging or soil removal needed; </span></li>
<li><span>Immediately loadable, no need to wait for curing. </span></li>
</ul>
<p><strong>Ground screws offer the following sustainability advantages as well:</strong></p>
<ul>
<li><span>97.5% less embedded carbon than concrete needed for similar performance; </span></li>
<li><span>Warrantied for 20 years, but have 50+ year lifecycle; </span></li>
<li><span>Screws can be reused or recycled at any time. </span></li>
</ul>
<p><strong>Installation</strong></p>
<p>Ground screws are <a href="/../installation/index.html">easy to install</a> with either machine-mounted hydraulic or handheld electric drivers.</p>
</div>
	<div class="bauer-spacer clearfix" data-desktop="20" data-mobi="20" data-smobi="20"></div><div class="bauer-single-heading clearfix " style="margin-bottom:18px;"><span class="inner"><span class="heading clearfix " style="font-weight:600;color:#000000;font-size:20px;">
		APPLICATIONS
	</span></span></div><div class="bauer-grid-box clearfix grid2 border-light v-30 h-10 no-borders" data-grid="2" >
		<div class="bauer-text clearfix " style="font-size:16px;"><p>Ground Mount</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Trackers</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Carports</p>
</div><div class="bauer-text clearfix " style="font-size:16px;"><p>Battery Storage</p>
</div>

	</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-carousel-box arrow-style-1 arrow-center offsetcenter offset-v0 has-bullets arrow50" data-auto="true" data-loop="true" data-gap="30" data-column="1" data-column2="1" data-column3="1">
        <div class="owl-carousel owl-theme"><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2021/02/South-Mountain-GMS-Pic.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2020/10/Panel-View2-EDIT-copy.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2023/01/Solar1.jpg" /> 
		</div><div class="bauer-simple-image text-center" style="" >
			<img decoding="async" alt="image" src="/../wp-content/uploads/2021/04/IMG_6371-2.jpg" /> 
		</div></div>
	</div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="100" data-mobi="60" data-smobi="60"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid vc_custom_1587730910761 vc_row-has-fill"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div><div class="bauer-content-box clearfix" ><div class="vc-custom-col-inner-spacing clearfix vc-col-inner-spacing-30"><div class="wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-1094816148 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="basicui-clock-1"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Easy</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>A stable foundation ready in in a fraction of the time</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-377790524 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="vc_li vc_li-banknote"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Cost-Effective</span>
		</h3><div class="desc" style="color:#ffffff;"><p class="about-benefits-text"><span>Save on materials and labor with no digging or concrete needed</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-710700440 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="bauerico-ruler"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Customized</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>We can design and manufacture systems according to your needs</span></p>
</div> </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="bauer-icon-box clearfix icon-top align-center  simple" style="background-color:#12294a;padding:25px 25px 27px;border-radius:5px;border:1px solid rgba(231,231,231,0.3);" ><div class="wrap-inner" style="position: relative;"><div class="bauer-icon icon-407470675 accent custom"  data-background="">
				<span class="icon" style="font-size:50px;width:50px;height:50px;border-style:solid;line-height:50px;"><i class="entypo-icon entypo-icon-leaf"></i></span>
			</div> <h3 class="heading  white" style="color:#ffffff;font-size:24px;line-height:24px;margin-bottom:12px;">
			<span>Sustainable</span>
		</h3><div class="desc" style="color:#ffffff;"><p><span>Systems designed to minimize waste and environmental impact</span></p>
</div> </div></div></div></div></div></div></div></div>
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div><div class="vc-custom-col-spacing clearfix vc-col-spacing-30"><section class="wpb_row vc_row-fluid"><div class="bauer-container"><div class="row-inner clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="bauer-spacer clearfix" data-desktop="80" data-mobi="0" data-smobi="0"></div></div></div></div></div></div></section></div>
</div>				
</Layout>
